<div *ngIf="allItems && allItems.length !== 0">
    <p-dataTable #dt [value]="allItems" resizableColumns="true" columnResizeMode="expand" [(selection)]="selectedItems" [style]="{'overflow': 'visible'}">

        <p-column [style]="{'width':'38px'}" [resizable]="false" selectionMode="multiple">
        </p-column>

        <p-column field="group" [filter]="true" filterMatchMode="equals" [style]="{'overflow': 'visible'}">
            <ng-template pTemplate="filter" let-col>
                <p-dropdown [options]="groups" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)"></p-dropdown>
            </ng-template>
        </p-column>

        <p-column field="name" header="{{'Наименование'}}" [sortable]="true">
        </p-column>

        <p-column field="price" header="{{'Цена'}}" [sortable]="true">
        </p-column>
    </p-dataTable>
</div>

<button *ngIf="true" type="button" pButton [disabled]="false" label="{{'В корзину'}}" icon="fa fa-shopping-cart" iconPos="left"
    class="text-button uppercase" (click)="addToBasket()" aria-hidden="true">
</button>